<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../_partials/libraries.ejs") %>

    <title>News - <%= user.user_name %></title>
</head>
<body id="user">
    <%- include("../_partials/navbar.ejs") %>

    <main>
        <section id="user-edit">
            <div class="container">
                <div class="d-flex justify-content-center mt-5">
                    <div class="user-card">
                        <form action="/user/edit-password/<%= user.user_id %>?_method=PATCH" method="POST" class="d-flex flex-column">
                            <h2 class="text-center">Edit password: <%= user.user_name %></h2>

                            <% if(err_msg) { %>
                                <p class="text-center text-danger mt-2">
                                    <%= err_msg %>
                                </p>
                            <% } %>

                            <label class="d-flex flex-column mt-2">
                                Current password:
                                <input class="form-control mt-1" type="password" name="current_password">
                            </label>
                            <label class="d-flex flex-column mt-2">
                                New password:
                                <input class="form-control mt-1" type="password" name="new_password">
                            </label>
                            <label class="d-flex flex-column mt-2">
                                Repeat your new password:
                                <input class="form-control mt-1" type="password" name="repeat_new_password">
                            </label>
                            
                            <div class="d-flex flex-column flex-md-row justify-content-md-between mt-4">
                                <button type="submit" class="btn btn-success w-100 me-md-5">
                                    Change password
                                </button>

                                <a href="/user/<%= user.user_slug %>" class="btn btn-danger mt-4 mt-md-0 w-100">
                                    Cancel
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>